@import '../Login/Login.scss';

.auth-form {
    .form-row {
        display: flex;
        gap: 12px;
        margin-bottom: 20px;

        .form-group {
            flex: 1;
            margin-bottom: 0;
        }
    }
}